{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <a href="/">Homepage</a>
      <a href="/requestlog/">Logs</a>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">User</th>
            <th scope="col">Method</th>
            <th scope="col">Created</th>
          </tr>
        </thead>
        <tbody>
          {% for obj in page_obj.object_list %}
            <tr class="alert alert-primary" role="alert">
              <td>{{ obj.user.username|upper }}</td>
              <td>{{ obj.get_request_type_display|upper }}</td>
              <td>{{ obj.created }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
          {% endif %}
          {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </div>
</div>
{% endblock content %}
